# Application Configuration
NODE_ENV =
PORT =
AI_SERVICE_PORT =

# RabbitMQ Configuration
MQ_USER = 
MQ_PASS = 
MQ_HOST = 
MQ_PORT = 
MQ_AI_SERVICE_QUEUE =
MQ_QUEUE_DURABLE =
MQ_TLS =

# Database Configuration
DATABASE_URL_SKILLFORGE =
DATABASE_URL_AI =

# Redis Configuration
REDIS_HOST =
REDIS_PORT =
REDIS_PASSWORD =
REDIS_TLS =